target/
.git/
.idea/
.mvn/wrapper/maven-wrapper.jar

*.log
*.tmp

.env
.env.*
run-local.ps1

src/main/resources/application.properties
src/main/resources/application-*.properties
!src/main/resources/application-prod.properties
!src/main/resources/application.properties.example
!src/main/resources/application-local.properties.example
!src/main/resources/application-prod.properties.example

HELP.md
